@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

*:focus::placeholder {
  opacity: 0;
}

/* Modern Browsers */

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

a {
  all: unset;
  text-decoration: none;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3 {
  line-height: 1;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
  overflow-wrap: break-word;
}

ul {
  list-style-type: none;
  padding: 0;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/*variables  */

:root {
  --ff-primary: 'Manrope', sans-serif;
  --ff-secondary: "DM Serif Display", sans-serif;

  /* Primary  colors */

  --clr-primary-1: #007185;
  --clr-primary-2: hsl(0, 0%, 0%);
  --clr-primary-9: #B12704;
  --clr-primary-10: #CC0C39;


  --clr-secondary-1: grey;

  --clr-neutral-1: hsl(0, 0%, 100%);
  --clr-neutral-2: hsl(0, 0%, 98%);
  --clr-neutral-3: rgba(0, 0, 0, 0.1);
  --clr-neutral-4: hsl(0, 0%, 50%);
  --clr-neutral-7: hsl(0, 0%, 6%);
  --clr-neutral-8: hsl(0, 0%, 0%);

  --clr-btn-1: var(--clr-primary-1);
  --clr-btn-2: var(--clr-primary-2);

  --clr-bg-1: var(--clr-neutral-1);
  --clr-bg-2: var(--clr-neutral-3);

  /* Font color  */
  --ff-clr-100: var(--clr-neutral-1);
  --ff-clr-400: var(--clr-neutral-4);
  --ff-clr-800: var(--clr-primary-2);

  /* Font size  */
  --ff-size-100: 12px;
  --ff-size-200: 13px;
  --ff-size-300: 14px;
  --ff-size-400: 15px;
  --ff-size-500: 18px;
  --ff-size-600: 24px;
  --ff-size-700: 28px;
  --ff-size-800: 32px;
  --ff-size-900: 40px;
  --ff-size-1000: 56px;

  /* Font weight   */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  /* Spacing */
  --spacing-500: 1px;
  --spacing-600: 1.15px;
  --spacing-700: 1.3px;
  --spacing-800: 1.5px;
  --spacing-900: 1.7;
  --spacing-1000: 2px;

  /* Line height  */
  --line-height-500: 24px;
  --line-height-600: 33px;
  --line-height-700: 38px;
  --line-height-800: 36px;
  --line-height-900: 44px;
  --line-height-1000: 58px;

  /* Sizes */
  --size-100: 10px;
  --size-200: 16px;
  --size-300: 24px;
  --size-400: 28px;
  --size-500: 32px;
  --size-600: 40px;
  --size-700: 48px;
  --size-800: 56px;
  --size-900: 60px;
  --size-1000: 64px;
  --size-1100: 80px;
  --size-1200: 100px;

  /* Radius */
  --radius-400: 8px;

  --line-height: 1.75rem;

  --header-height: 90px;
  --transition: 0.25s;
}

.ff-clr-primary-1 {
  color: var(--clr-primary-1)
}

.a-clr-base{
  color: #0F1111 !important;
}

.a-clr-main{
  color: var(--clr-primary-1) !important;
}
.a-clr-price{
  color: var(--clr-primary-9);
}

.link {
  color: var(--clr-primary-1)
}
.a-link-main{
  color: var(--clr-primary-1) !important;

}

p{
  margin:0 !important;
}



body {
  margin: 0;
  display: flex;
  flex-direction: column;
  
}

main {
  padding: 0rem 0rem 0;
}

.border {
  border: 1px solid red;
}

a{
  cursor: pointer;
  text-decoration: none !important;
}

.px-main{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}


.wrapper{
  min-width: 1100px;
}
input {
  font-size: 13px;
  font-weight: 500;
  color: #333;
  padding: 0 1rem;
  /* border: 1px solid var(--clr-secondary-1); */
  border-radius: 0.3rem 0 0 0.3rem;
}

input[type=text]:focus {
  border: none !important;
}

*>a {
  text-decoration: none;
}
.right-panel{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Header */
header {}

.header-top {
  height: 60px;
  min-height: 60px;
  max-height: 60px;
  display: flex;
  align-items: center;

  color: white;
  padding: 1.5rem;
  background: #131921;
}

.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
  font-size: 25px;
  min-width: 150px;
  width: 150px;
  color: white;
}

/* Search Bar */
.search-bar {
  width: 100%;
  height: 40px;
  display: flex;
}

.search-bar input {
  width: 100%;
  border: none;
  border-radius: 0 !important;
}

.search-btn {
  border: none !important;
  background: #FEBD69 !important;
  border-radius: 0 0.3rem 0.3rem 0 !important;
}

.search-category-btn {
  display: flex !important;
  align-items: center;
  gap: 0.3rem;
  min-width: max-content !important;
  font-size: 12px !important;
  background: #E6E6E6 !important;
  border-top: none !important;
  border-bottom: none !important;
  border-left: none !important;
  border-right: #444 !important;
  border-radius: 0.3rem 0 0 0.3rem !important;
  text-transform: capitalize;
  word-break: keep-all;
  white-space:inherit;
}

.cart-btn {
  font-size: 14px !important;
  min-width: 100px;
  border: none !important;
  padding: 0 !important;
}


/* Navigation */
nav {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 14px;
  border-bottom: 1px solid var(--clr-secondary-1);
  padding: 0.3rem 0rem;
  height: 39px;
}

.main-menu {
  height: 39px;
  min-height: 39px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  background: #232f3e;
  justify-content: space-between;
  gap: 1rem;
}

.main-menu .items {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu-btn {
  color: white;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
  gap: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Banner_MainMenu {
  display: none;
  justify-self: flex-end;
}

/* Sub Menu */
.sub-menu {
  height: 32px;
  min-height: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  background: #FAFAFA;
  gap: 1rem;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sub-menu .items {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sub-menu-btn {
  color: #333;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;

}


.delivery-option {
  color: #333;

}

.delivery-option:nth-child(1) {
  color: #007185;
  border-bottom: 2px solid;
}

/*  */

.categories-list{
 
  
}

.wrapper-container{
  display: flex;
  justify-content: center;
  width:100%;
}

/* Card */

.cards {
  padding: 3rem 1rem;
}

.cardImg {
  display: block;
  height: 100px;
  object-fit: contain;

}

.img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;

}

.product-card {
  cursor: pointer;
}

.product-card:hover {
  border: 1px solid orange;
}

.product-card p {
  margin-bottom: 0;
}


/* Main cards */
.main-cards {
  display: flex;
  gap: 1rem;
}



.card-rating {
  display: flex;
  align-items: center;
  color: #565959;
  font-size: 14px
}

.card-price {
  font-size: 17px;
  color: #0F1111;
}

.card-rating-number {
  font-weight: 500;
  margin-top: 0.2rem;
}

/* Product page */
.product-page {}

.product-info ul {
  list-style-type: circle;
}


.product-page .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.product-page-main {
  gap: 1.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
}

/* .product-page > * {
  border: 1px solid red;
} */

.product-page .card-price {
  font-size: 28px;
}

.product-img {
  width: 100%;
  min-width: 500px;
  height: 100%;
}

.product-img img {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
  object-position: center;
}

.product-gallery {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  position: -webkit-sticky;
  position: sticky;
  top: 1.5rem;

}

.product-img-tmb {
  width: 100%;

}

.product-img-tmb img {
  cursor: pointer;

  width: 65px;
  height: 65px;
  object-fit: contain;
  object-position: center;
  border: 1px solid var(--clr-neutral-3);
  border-radius: 0.3rem;
}

.product-img-tmb img:nth-child(even) {
  transform: scaleX(-1);
}

.product-info {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product-info p {
  margin: 0;
}

.product-order-panel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 0.5rem 0.5rem;
}

.buy-now-btn {
  background: #ffa41c !important;
}

.product-img-share {
  cursor: pointer;
}

.product-img-share>* {
  position: absolute;
  transform: translate(-3rem, 0.5rem);
  background: white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  padding: 0.3rem;
}

.horizontal-line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 1px;
  width: 100%;
}

.limited-deal {
  font-size: 12px !important;
  width: max-content;
  background: #CC0C39 !important;
  padding: 0.5rem 0.6rem !important;
  border-radius: 0.3rem !important;
}

/* Right Column */

.product-page .right-panel{
  width: 250px;
}


/* Cart */
.cart-page{
  background-color: #EAEDED !important;
}
/* .cart-page .wrapper>*{
  border: 1px solid red;
} */

.cart-page-main{
  gap: 1.5rem;
  width: 100%;
 
  background: white;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.cart-page .cart-grid{
  display: flex !important;
  flex-direction: row;
  gap: 1.2rem;
}

.cart-page .right-panel{
  width: 300px;
  min-width: 300px;
}


/* Cart page Item */
.cart-page-item{
  padding: 1.6rem 0 0.8rem 0.8rem;
  list-style-type: none;
  border-bottom: 1px solid var(--clr-neutral-3);
}


.cart-page-item:nth-child(1){
  border-top: 1px solid var(--clr-neutral-3);

}

.cart-page-item-grid{
  display: flex !important;
  flex-direction: row;
  gap:1rem;
}

/* Footer */
.footer-div{
  margin-top: auto;
}
.footer{
  color: white;
  display: flex;
  justify-content: center;
  background: #232F3E;
  padding: 2rem 1rem;
  list-style-type: none;
}

.footer-nav-col{
  max-width: 180px;
}

.footer-nav-title{
  font-weight: 600;
  padding: 0.5rem 0rem;
}

.footer-nav-col li{
  line-height: 1.3;
  color: #DDDDDD;
  font-size: 13px;
  padding-bottom: 0.4rem;
}

.back-to-top{
  width: 100%;
  cursor: pointer;
  font-weight: 500;
  font-size: 13px;
  padding: 1rem;
  background: #37475A;
  text-align: center;
  color: white;
}

.back-to-top:hover{
  background: hsla(213, 24%, 28%, 0.95);
}

.remove-from-view-btn{
  padding: 0.2rem 0.5rem;
  font-size: 10px;
  font-weight: 500;
  min-width: max-content;
  border: 1px solid #00000040;
  border-radius: 0.5rem;
  box-shadow:#007185;
}


@media (min-width: 1020px) {
  .Banner_MainMenu {
    display: block;
    justify-self: flex-end;
  }
}

@media (min-width: 1548px) {
  .categories-list,
  .product-page,
  .cart-page  {
    align-items: center;
  }
  .wrapper-container{
    justify-content: center;
  }

  .wrapper-container .wrapper,
  .product-page .wrapper {
    width: 1500px;
  }
}